* {
  box-sizing: border-box;
}

.hero {
  position: relative;
  flex-direction: column;
  justify-content: end;
  display: flex;
  padding: 100px;
  height: 50vh;
  background-size: cover;
  color: var(--white);
  z-index: 15;
}
.hero::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(45deg, #1a1825, transparent);
  z-index: -1;
}
.wrapper-hero .movieInfo {
  position: relative;
  background: none;
  padding: 0;
}

.wrapper-hero {
  position: absolute;
  padding: 200px 16px 24px 16px;
  bottom: 0px;
}

@media screen and (max-width: 767px) {
  .hero {
    min-height: 300px;
    padding: 50px 1rem;
  }
}
