.back-home{
  position: absolute;
  display: inline-flex;
  color: #fff;
  align-items: center;
  font-weight: 700;
  text-decoration: none;
  left: 50px;
  top: 20px;
  filter: drop-shadow(2px 3px 4px rgb(0 0 0 / .5));
  min-width: 80px;
  margin: 0;
}