.movie-poster {
  width: 100%;
  height: auto;
  object-fit: contain;
}
.hover-menu {
  position: absolute;
  top: 0;
  padding: 110% 0 0 5%;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.2s;
}

.hover-menu:hover {
  background-color: rgba(0, 0, 0, 0.521);
  opacity: 1;
}

.movie-title {
  font-size: 2rem;
}

.movie-release-date {
  font-size: 1rem;
}

.poster-error {
  position: absolute;
  top: 5rem;
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  color: rgba(128, 128, 128, 0.867);
  text-align: center;
}
