.movie-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5;
  gap: 25px;
  height: 100%;
}

.container {
  margin: 0 auto;
}
@media (min-width: 745px) and (max-width: 1049px) {
  .movie-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1050px) {
  .movie-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
