.button-container {
  display: flex;
  margin: 20px auto 0 auto;
  justify-content: center;
  width: 90%;
}

.options-button {
  margin: 0 0 0 10px;
  transition: transform 250ms;
  background-color: #ffffffcb;
  padding: 0.5em;
  border-radius: 8px;
  border: none;
  a {
    color: black;
    font-size: 18px;
    
  }
}

.options-button:hover {
  transform: translateY(-3px);
}

@media screen and (min-width: 768px) {
  .button-container {
    width: 86%;
    justify-content: end;
  }
}
