header{
  margin-top: 2em;
}

.carousel {
  width: 90%;
  height: 200px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
 
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  transform: translateX(-50%);
  transition: all .0.5s ease;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.current{
    opacity: 1;
    transform: translateX(0);
}

.overlay-slide{
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 1em;
  color: white;
  background-image: linear-gradient(to top, rgb(192, 0, 0), transparent);
  animation: slide-up 1.2s ease .6s;
  animation-fill-mode: forwards;
}

.content{
  width: 80%;
  padding-left: 0.5em;
  font-size: 0.6em;
  text-align: justify;
}




@keyframes slide-up{
    0% {
        visibility: visible;
        top: 23rem;
    }
    100%{
        visibility: visible;
        top: 0;
    }
}


@media screen and (min-width: 768px){
  .carousel {
    height: 300px;
  }
  .content{
    width: 50%;
    padding-left: 2em;
    padding-top: 2em;
    font-size: 0.8em;
  }
  .overlay-slide{
    padding: 1.5em;
  }
}

@media screen and (min-width: 1200px){
  .carousel {
    height: 400px;
  }
  .content{
    width: 40%;
    padding-left: 2em;
    padding-top: 2em;
    font-size: 1em;
  }
  .overlay-slide{
    padding: 2em;
  }

}
