.menu{
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 2em;

  h1{
    font-size: 1.5em;
  }
}

.button-container {
  display: flex;
  justify-content: end;
  align-items: center;
}

.options-button {
  margin: 0 0 0 10px;
  height: 50px;
  transition: transform 250ms;
  background-color: #ffffffcb;
  padding: 0.5em;
  border-radius: 8px;
  border: none;
  a {
    color: black;
    font-size: 18px;
    
  }
}

.options-button:hover {
  transform: translateY(-3px);
}

@media screen and (min-width: 768px) {
  .menu {
    h1{
      font-size: 2.5em;
    }
  }
}
