.movies{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    padding: 5em 0;
}

.each-movie img{
    z-index: 0;
    position: relative;
    width: 100%;
}

#first-info{
    z-index: 1;
    position: absolute;
    }
    

@media screen and (min-width: 1024px){
    .each-movie img{
    width: 400px;
}
}