.loading {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

header{
  display: flex;
  flex-direction: column;
}

#logo{
  width: 40px;
  height: 40px;
  align-self: end;
  margin: 0.7em;
}

.movie-list {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  justify-content: center;
  padding-bottom: 5em
}

.each-movie {
  position: relative;
}

.each-movie:hover {
  cursor: pointer;
}

.each-movie img {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
}

#overlay {
  display: none;
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  align-items: flex-start;
}

#overlay-text {
  padding: 1.5em;
}
h1,
h2 {
  color: rgb(255, 254, 243);
  word-wrap: break-word;
  line-height: 1;
}

h1 {
  font-size: 2.5em;
  word-wrap: wrap;
  font-family: "Anton";
  letter-spacing: 0.02em;
  text-shadow: 2px 2px 2px black;
}

h2 {
  font-family: "Fjalla One";
  font-size: 1em;
}
.category{
  width: 90%;
  margin: 0 auto;
  padding-top: 5em;
  text-align: center;

  h1{
    font-size: 2em;
  }
}


@media screen and (min-width: 768px){
  .movie-list{
    grid-template-columns: 1fr 1fr 1fr;
  }
  header{
    width: 90%;
    margin: 0 auto;
  }
  #logo{
    width: 60px;
    height: 60px;
    margin: 1em 0;
  }
  .category{
    h1{
      font-size: 3em;
    }
  }

}
@media screen and (min-width: 1200px){
  .movie-list{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  #logo{
    width: 80px;
    height: 80px;
}

  .each-movie:hover {
    #overlay {
      display: flex;
      flex-direction: column;
      background-image: linear-gradient(to top, rgb(192, 0, 0), transparent);
      transition: 0.3s;
    }
  }
}