.homelink {
  font-size: 15px;
  color: black;
  filter: drop-shadow(2px 3px 4px rgba(0, 0, 0, 0.578));
  font-weight: bold;
  max-width: fit-content;
  margin: 1em;
  background-color: none;
  position: relative;
  font-weight: 700;
  left: 50px;
  top: 10px;
}

.homelink:hover {
  transform: translateX(5px);
}

.homelink a:hover {
  /*Color wont change if i change it in .homelink:hover, works only here. transform: translateX(30px); however only works in .homelink:hover {. *Elba*/
}

/* make the background image cover the full body */
.movieContainer {
  height: 100vh;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-size: cover;
  background-repeat: no-repeat;
}

.movieContainer img {
  object-fit: fit;
}

/*could make a header component, if we wnat a header though??? 
.movieHeader {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}*/

.loading {
  /* not sure what we need here, styles for loading text, if it appears */
}