.style.loading {
    font-size: 24px;
    color: black;
}

.backgroundImage {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    object-fit: cover;
}

.iconAndButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    top: 0;
    margin: 1em;
    filter: drop-shadow(2px 3px 4px rgba(0, 0, 0, 0.578));
    max-width: fit-content;
    background-color: none;
}

.arrow {
    width: 40px;
}

.backButton {
    font-size: 20px;
    color: #FFFFFF;
    text-align: left;
    font-weight: bold;
    text-decoration: none;
}

.movieSummary {
    position: absolute;
    /*NB! the position solved the location on the site*/
    bottom: 0;
    align-items: end;
    margin-top: 0px;
    display: grid;
    grid-template-columns: auto 1fr 2fr;
    grid-template-areas: "movieImage movieInfo movieInfo ";
    padding-left: 20px;
    padding-bottom: 20px;
    /*Grid area*/
}

.movieImage {
    border: 5px solid rgb(255, 255, 255);
    grid-area: movieImage;
    margin-left: 10px;
    margin-right: 20px;
}

.movieInfo {
    color: #FFFFFF;
    display: block;
    max-width: 600px;
    align-self: end;
    position: relative;
    margin-top: auto;
    grid-column: 2;
    grid-area: movieInfo;
    max-width: 400px;
}

h2 {
    font-size: 24px;
    font-weight: 700;
    font-family: -apple-system, BlinkMacSystemFont, system-ui, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow: 1px 1px #4d4d4d8a;
}

.vote {
    font-size: 24px;
    color: black;
    font-weight: bold;
}

.starAndVote {
    display: flex;
    align-items: center;
    background-color: white;
    max-width: fit-content;
    max-height: 24px;
}

.overview {
    filter: drop-shadow(2px 3px 4px rgba(0, 0, 0, 0.616));
    font-size: 16px;
    max-width: 200px;
    word-wrap: break-word;
}


@media (max-width: 620px) {
    .movieSummary {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        top: 120px;
        padding-left: 0px;
        max-height: 80vh;
        overflow-y: auto;
        /* Last two rows are scrolling + maximum height for scrolling */
    }

    .movieImage {
        margin-right: 100px;
        max-width: 60%;
    }

    .movieInfo {
        font-size: 16px;
        word-wrap: break-word;
        margin-left: 40px;
        margin-right: 40px;
    }
}