.detail-image {
  width: 100%;
}

@media (max-width: 576px) {
  .detail-image-wrapper .detail-image {
    max-width: 200px;
  }

  .popular-movies .detail-image {
    max-width: max-content;
  }
}

@media (min-width: 577px) and (max-width: 769px) {
  .detail-image {
    max-width: 250px;
  }
}

@media (min-width: 770px) {
  .detail-image-wrapper .detail-image {
    width: auto;
    height: auto;
  }
}