.back-btn {
  position: absolute;
  padding: 8px;
  height: 35px;
  width: 90px;
  color: white;
  font-weight: 700;
  text-decoration: none;
  margin: 10px 0 0 50px;
  text-shadow: 2px 2px 4px black;
}

.movie-details {
  background-size: cover;
  display: flex;
  height: 100vh;
}

.info-container {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex-direction: row;
  gap: 20px;
  text-shadow: 2px 2px 3px black;
  margin-left: 50px;
  margin-bottom: 50px;
}

.details-container {
  max-width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 5px;
}

.info-container img {
  border: 5px solid white;
  border-radius: 0px;
}

.movie-poster {
  width: 300px;
}
