.movie-wrapper {
  background-color: black;
  width: 100%;
  padding: 20px;
}

h1 {
  text-align: center;
  align-items: center;
  color: white;
  padding: 10px;
}

ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

li {
  text-align: center;
}

img {
  width: 100%;
  border-radius: 15px;
  height: auto;
  cursor: pointer;
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

li:hover img {
  transform: scale(1.05);
  filter: brightness(0.2);
}


