.search-movie-container {
  margin: 8rem auto 5rem;
}
.search-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-bar-label {
  margin: 10px auto;
  font-size: 2rem;
  font-weight: 700;
  color: var(--text-color);
}

.input-container {
  position: relative;
  width: 100%;
  text-align: center;
}

.search-icon {
  padding-left: 10px;
  position: absolute;
  top: 30%;
}

.search-bar-input {
  width: 50%;
  height: 3rem;
  border-radius: 10px;
}

.search-bar-input::placeholder {
  padding-left: 2rem;
  font-size: 1rem;
}

.search-bar-input:focus {
  outline: white 5px solid;
}

.scoller {
  background-color: rgba(128, 128, 128, 0.389);
  margin: 0 auto;
  max-width: 80%;
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.home-carousel-list {
  width: fit-content;
  padding-block: 2rem;
  padding-left: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  animation: scroll 180s linear infinite;
}

@keyframes scroll {
  to {
    transform: translateX(-100%);
  }
}
