.first-about-container{
  display: flex;
  justify-content: center;
  align-items:baseline;
  height: 100vh;
  background-color: #f4f4f4;
}

.about-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 80px 30px;
}

.about-container h1 {
  font-size: 2em;
  margin: 0;
  margin-bottom: 20px;
}

.about-container p {
  font-size: 1.1em;
  margin-bottom: 15px;
}

.about-container ul {
  margin-bottom: 15px;
}

.about-container li {
  margin-bottom: 5px;
}

/* SCREENS MAX 744px  ----------------------------------------------------------------------*/
@media (max-width: 744px) {
  .about-container h1 {
    text-align: center;
  }
}