/* Kommentar att ta bort senare: Ligger en bakgrundsfärg i index.css, därav svart kring länken "movies" */


.detail-section {
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
}

.detail-section .backdrop {
    background-size: cover;
    min-height: 100vh; /* vh = Relative to 1% of the height of the viewport */
    
}


.back-button {
position: absolute;
color: black;
text-decoration: none;
justify-self: center;
}


.detail-wrapper {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;


}

.detail-poster {
   width: 200px;
   border: solid black 10px;
   margin-top: 80px;
}

.detail-text-wrapper {
display: flex;
flex-direction: column;
align-items: center;
}

.detail-title {

}

.rating {
    margin: 0;
}

.rating-box {
align-self: center;
background-color: rgba(255, 234, 0, 0.624);
height: fit-content;
padding: 5px;
border-radius:50px;
}

.title-rating-wrapper {
    display: flex;
    flex-direction: row;
    gap: 30px;
    /* flex-wrap: wrap; */
}

.detail-overview {
width: 80%;

}

