
.detail-section {
    position: relative;
    margin: 0;
    padding: 0;
}

.detail-section .back-button {
    position: absolute;
}

.back-button {
    color: #ffff;
    text-decoration: none;
    background: linear-gradient(90deg, rgba(89,7,7,1) 0%, rgba(198,37,37,1) 59%);
    border-radius:40px;
    padding: 5px;
    }

.detail-section .backdrop {
background-size: cover;
min-height: 100vh; /*vh = Relative to 1% of the height of the viewport */
object-fit:cover;
}

.detail-wrapper {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.detail-poster {
   width: 200px;
   border: solid black 10px;
   margin-top: 80px;
}

.detail-text-wrapper {
display: flex;
flex-direction: column;
align-items: center;
}

.rating {
    margin: 0;
}

.rating-box {
align-self: center;
background-color: rgba(255, 234, 0, 0.624);
height: fit-content;
padding: 5px;
border-radius:50px;
}

.title-rating-wrapper {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.detail-overview {
width: 80%;
}

/* ----- Making content responsive ----- */
/* Tablet*/
@media (min-width: 667px) {
    .detail-text-wrapper {
        max-width: 400px;
    }

    .detail-poster {
        width: 300px;
    }
}

/* Desktops */
@media (min-width: 1025px) {
    .detail-text-wrapper {
        max-width: 800px;
    }

    .detail-poster {
        width: 300px;
    }
}
