.background {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 100vw;
}

.movie-content-box {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: linear-gradient(to top, rgba(26, 30, 35, 0.7), rgba(235, 235, 234, 0));
  gap: 20px;
}

.arrow-box {
  display: flex;
  gap: 10px;
  align-self: flex-start;
  align-items: center;
  margin: 20px;
}

.arrow-box:hover {
  gap: 15px;
  cursor: pointer;
}

.arrow-box p {
  font-size: 22px;
  font-weight: 700;
  text-shadow: 2px 2px 15px rgba(26, 30, 35, 1);
}

.arrow-icon {
  font-size: 32px;
  background-color: rgba(26, 30, 35, 0.3);
  box-shadow: 2px 2px 15px rgba(26, 30, 35, 1);
  border-radius: 100%;
}

.movie-content-box img {
  border: 5px solid #fff;
  width: 200px;
}

.movie-info-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.rating-time-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 254px;
}

.rating {
  display: flex;
  gap: 10px;
  align-items: center;
  background-color: #fff;
  padding: 3px 5px;
}

.rating p {
  color: #000;
  font-family: Muli;
  font-weight: 600;
}

.star-icon {
  color: #e9ba20;
}

.movie-info-box h1 {
  font-size: 29px;
}

.movie-info-box p {
  font-size: 18px;
}

@media (min-width: 576px) {
  .movie-content-box {
    flex-direction: row;
    background: linear-gradient(
      to top,
      rgba(26, 30, 35, 0.7),
      rgba(26, 30, 35, 0.7),
      rgba(26, 30, 35, 0.7),
      rgba(26, 30, 35, 0.7),
      rgba(235, 235, 234, 0)
    );
    padding: 10;
  }

  .movie-content-box img {
    width: 250px;
  }

  .movie-info-box {
    justify-content: flex-end;
  }
}

@media (min-width: 767px) {
  .movie-content-box {
    background: linear-gradient(to top, rgba(26, 30, 35, 0.7), rgba(235, 235, 234, 0));
  }

  .movie-content-box img {
    width: auto;
  }
}

@media (min-width: 992px) {
  .movie-info-box {
    width: 579px;
  }
}
