/* Add your styling for the MovieInfo component here */
.movie-info {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px;
}


  
  .rating {
    display: flex;
    align-items: center;
  }
  
  .star-icon {
    margin-right: 10px; /* Adds some space between the star icon and the rating number */
  }
  
