.cardWrapper {
  display: flex;
  flex-wrap: wrap;
  background: black;
}

/* img {
  object-fit: cover;
} */

a {
  width: 100%;
}

.cardWrapper a img {
  width: 100%;
}

.card {
  position: relative;
}

.card:hover .mainImage {
  filter: brightness(30%);
  cursor: pointer;
}

.info {
  position: absolute;
  bottom: 10%;
  left: 10%;
  color: var(--color-main);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-right: 10px;
}

.info h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
}
.info p {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  padding-top: 1rem;
}

@media (min-width: 370px) {
  .cardWrapper a {
    width: 50%;
  }
}

@media (min-width: 570px) {
  .cardWrapper a {
    width: 33.33%;
  }
}

@media (min-width: 820px) {
  .cardWrapper a {
    width: 25%;
  }
}
