.cardWrapper {
  display: flex;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 667px;
  height: auto;
  position: relative;
}

/* .info {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  transition: opacity 0.3s ease;
  opacity: 0;
} */

.card:hover .mainImage {
  filter: brightness(30%);
  cursor: pointer;
}

.info {
  position: absolute;
  top: 70%;
  left: 10%;
  color: var(--color-main);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.info h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
}
.info p {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  padding-top: 1rem;
}
