.detailImage {
  border: 5px solid white;
  width: 200px;
}

.detailContainer {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 50px;
  justify-content: space-between;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 70%,
    rgba(0, 0, 0) 100%
  );
}

.backgroundImage {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
  object-position: left top;
}

h2 {
  color: white;
  margin: 20px 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  text-shadow: 1px 1px #4d4d4d;
}

h3 {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
}

p {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

.rating {
  background-color: white;
  color: black;
  padding: 0 10px;
}

.arrow {
  position: relative;
  display: inline-flex;
  filter: drop-shadow(2px 3px 4px rgb(0 0 0 / 0.5));
}

.arrowIcon {
  width: 25px;
  height: 25px;
}

.arrowTitle {
  padding-left: 5px;
  transition: transform 0.2s ease-in-out;
  /* text-shadow: 1px 1px 5px black; */
}

.arrow:hover .arrowTitle {
  transform: translateX(5px);
}

@media all and (min-width: 668px) {
  .summary {
    display: flex;
  }

  .detailImage {
    width: 250px;
  }

  .details {
    align-self: end;
    max-width: 400px;
    margin: 20px;
  }
}

@media all and (min-width: 1024px) {
  .detailImage {
    width: auto;
  }
}
