.single-movie {
    position: relative;
    color: #fff;
}


.backLink {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 3;
    display: flex;
    align-items: center;
    /* Vertically center the content */
    justify-content: center;
    /* Horizontally center the content */
    filter: drop-shadow(2px 3px 4px rgb(0 0 0 / 0.5));
}

.backLink svg {
    width: 40px;
    height: 40px;
}


/* Add this to your CSS */
/* .back-drop {

} */

.back-drop img {
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    /* or background-attachment: fixed; for a fixed background */
    z-index: 1;
}


.movie-info {
    display: flex;
    flex-direction: column;
    padding: 50px;
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;

}

.movie-info img {
    border: 5px solid #fff;
    width: 200px;
}

.movie-info p {
    font-size: 16px;
}

/* Style for the rating box */
.rating-box {
    background-color: #F2C94C;
    /* Background color for the box */
    color: #fff;
    /* Text color inside the box */
    padding: 5px 10px;
    /* Padding inside the box to create spacing */
    border-radius: 5px;
    /* Rounded corners for the box */
    display: inline-block;
    /* Keep the box inline with the text */
}

/* Style for the rating number inside the box */
.rating-number {
    font-weight: bold;
    /* Make the number bold */
    font-size: 1.2em;
    /* Adjust the font size as needed */
}