.single-movie {
    position: relative;
    color: #fff;
}


.backLink {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 3;
    display: flex;
    align-items: center;
    /* Vertically center the content */
    justify-content: center;
    /* Horizontally center the content */
    filter: drop-shadow(2px 3px 4px rgb(0 0 0 / 0.5));
}

.backLink svg {
    width: 40px;
    height: 40px;
}



/* .back-drop {

} */

.back-drop img {
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    /* or background-attachment: fixed; for a fixed background */
    z-index: 1;
}


.movie-info {
    display: flex;
    flex-direction: column;
    padding: 50px;
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;

}

.movie-info img {
    border: 5px solid #fff;
    margin-bottom: 20px;
    width: 200px;
}

.movie-info p {
    font-size: 16px;
}

.title {
    font-size: 1em;
    /* Adjust the font size as needed */
    margin-bottom: 10px;
    /* Add space below the title */
}


.rating-box {
    background-color: #F2C94C;
    color: #fff;
    padding: 4px 9px;
    border-radius: 5px;
    display: inline-block;
    position: relative;
    margin-left: 10px;
    /* Add this line for positioning the pseudo-element */
}

/* Style for the rating number inside the box */
.rating-number {
    font-weight: bold;
    font-size: 1em;
    /* Adjust the font size as needed */

    /* Add the star symbol using a pseudo-element */
    &::before {
        content: "★";
        /* Insert a star character as content */
        margin-right: 4px;
        /* Add some spacing between the star and the number */
    }
}