.single-movie {
    position: relative;
    color: #fff;
}


.backLink svg {
    width: 40px;
    height: 40px;
}

.backLink {
    position: absolute;
    /* Position the link absolutely within the container */
    top: 10px;
    /* Adjust the top position as needed */
    left: 10px;
    /* Adjust the left position as needed */
    z-index: 1;
    /* Set z-index to 1 to place it in front of the backdrop */
}

/* Add this to your CSS */
.back-drop {
    min-height: 100vh;
    display: flex;
    background-size: cover;
    flex-direction: column;
    justify-content: flex-end;
}

.movie-info {
    display: flex;
    flex-direction: column;
    padding: 50px;
    position: absolute;
    z-index: 2;
    /* Set z-index to 2 to place it in front of the backdrop */
}

.movie-info img {
    border: 5px solid #fff;
    width: 200px;
}

.movie-info p {}

/* Style for the rating box */
.rating-box {
    background-color: #F2C94C;
    /* Background color for the box */
    color: #fff;
    /* Text color inside the box */
    padding: 5px 10px;
    /* Padding inside the box to create spacing */
    border-radius: 5px;
    /* Rounded corners for the box */
    display: inline-block;
    /* Keep the box inline with the text */
}

/* Style for the rating number inside the box */
.rating-number {
    font-weight: bold;
    /* Make the number bold */
    font-size: 1.2em;
    /* Adjust the font size as needed */
}