main {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 100%;
  justify-content: space-between;
  box-sizing: border-box;
}
/* to change the width in base of mediaquery */
.cardsWrapper {
  position: relative;
  width: 100%;
}
.cardsWrapper a {
  width: 50%;
  position: relative;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.cardsWrapper a img {
  width: 100%;
  display: flex;
}
.cardsWrapper .info {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  display: none;
  padding: 20px;
}
.cardsWrapper a:hover .info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-end;
}
.cardsWrapper .info h2 {
  font-size: 15px;
  margin-top: auto;
  margin-bottom: 0;
}
.cardsWrapper .info p {
  font-size: 12px;
}
@media (min-width: 365px) and (max-width: 571px) {
  .cardsWrapper {
    width: 50%;
  }
  .cardsWrapper .info h2 {
    font-size: 17px;
  }
  .cardsWrapper .info p {
    font-size: 13px;
  }
}
@media (min-width: 572px) and (max-width: 818px) {
  .cardsWrapper {
    width: 30%;
  }
  .cardsWrapper .info h2 {
    font-size: 18px;
  }
  .cardsWrapper .info p {
    font-size: 15px;
  }
}
@media (min-width: 819px) {
  .cardsWrapper {
    width: 25%;
  }
  .cardsWrapper .info h2 {
    font-size: 20px;
  }
  .cardsWrapper .info p {
    font-size: 18px;
  }
}
