.back {
  position: absolute;
  width: 50px;
  top: 20px;
  left: 20px;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: gap 0.3s ease-out;
  text-decoration: none;
  color: black;
}

.back:hover {
  gap: 15px;
}
