body {
    margin: 0;
    color: white;
}

.MovieContainer {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: center;
    position: fixed;
    height: 100%;
    align-items: center;
    padding: 100px;
}

.textContainer {
    display: flex;
    height: 500px;
    margin-bottom: 100px;
}

.MoviePoster {
    border: rgb(255, 255, 255) solid 10px;
    margin-right: 10px;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: auto;
}

.titleRatingContainer {
    width: 100%;
    font-size: 15px;
    display: flex;


}

.titleRatingContainer p {
    font-size: 20px;
    height: 20px;
    background-color: white;
    color: black;
    display: inline-block;
    padding: 5px 5px;
    margin-left: 10px;

}

.movieDescription {
    width: 50%;
}

.back-button {
    background: transparent;
    border: none;
    color: white;
    font-size: 30px;
    display: absolute;
    align-items: center;
    position: absolute;
    top: 5%;
    left: 5%;
    transition: left 0.2s;

}

.back-button .back-text {
    font-size: 25px;
    margin-left: 10px;
    text-shadow: 2px 2px 10px black;
    font-weight: 600;
    transition: margin-left 0.2s;

}

.back-button img {
    background-color: black;
    margin-right: 10px;
    box-shadow: 2px 2px 10px black;
    border-radius: 50%;

}

.back-button:hover .back-text {
    margin-left: 20px;
}

@media (max-width: 1024px) {
    .MovieContainer {
        height: 80%;
        position: fixed;
        width: 85%;
        flex-direction: column;
        padding-top: 200px;
    }

    .textContainer {
        height: 70%;
    }

    .textContainer p {
        font-size: 12px;
    }

    .infoContainer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: auto;
    }

    .movieDescription {
        width: fit-content;
    }

}

@media (max-width: 667px) {


    .MovieContainer {
        align-items: flex-start;
        height: 80%;
        padding-left: 20px;
    }

    .textContainer {
        flex-direction: column;
        width: 100%;
        margin-bottom: 300px;

    }

    .movieDescription p {
        font-size: 11px;
    }

    .MoviePoster {
        height: auto;
        width: 50%;
    }

    .infoContainer {
        order: 2;
    }

    .titleRatingContainer {
        font-size: 8px;
        width: 100%;
    }

    .titleRatingContainer p {
        font-size: 12px;
        height: 12px;
    }

    .back-button {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .back-button img {
        height: 20px;
        width: 20px;
    }

    .back-button .back-text {
        font-size: 20px;
        margin-left: 5px;

    }
}