/* .home {
  display: grid;
  grid-template-rows: auto fit-content fit-content auto;
} */
.headline {
  font-size: 55px;
  font-weight: 600;
  text-align: center;
  padding: 3rem 0;
}

.home {
  background-color: black;
  min-height: 100vh;
}
