.moviePage {
  /* position: relative; */
  background-color: #f4bebe;
  min-height: 100%;
  /* display: flex; */
  display: grid;
  grid-template-rows: 90px auto;
}

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  /* margin-top: 10rem; */
}

.loadingText {
  font-size: 32px;
  color: black;
  font-weight: 500;
}

.backNav {
  background-color: black;
  width: 100%;
  /* position: absolute; */
  padding: 1rem;
}
