.page-not-found {
    height: 100vh;
    position: relative;
    background-color: black;
    color: whitesmoke;
}

.back-to-homepage {
    text-decoration: none;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    margin-left: 3%;
}

.back-to-homepage .arrow {
    filter: drop-shadow(5px 2px 5px rgba(245, 242, 242, 0.4));
    margin-top: 3%;

}

.back-to-homepage p {
    color: whitesmoke;
    text-shadow: rgb(245, 242, 242) 2px 0 10px;
    font-weight: 700;
    width: 100%;
    margin-top: 3%;
}

.error-msg h1 {
    position: absolute;
    bottom: 40%;
    left: 20%;
    right: 20%;
    text-align: center;
}