.back-to-movies-btn {
    /* relative to the background img */
    position: absolute;
    z-index: 15;
    margin-left: 3%;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}

.arrow svg {
    /* box-shadow: black 2px 0 10px; */
    /* note: does not work with svg */
    filter: drop-shadow(5px 2px 5px rgb(0 0 0 / 0.4));
    width: 30px;
}

.back-to-movies-btn p {
    color: whitesmoke;
    text-shadow: black 2px 0 10px;
    font-weight: 700;
    transition: all 0.3s ease-in-out;
}

.back-to-movies-btn p:hover {
    margin-left: 30px;
}