.single-movie-container{
        min-height: 100vh;
        background-size: cover;
        display: flex;
        flex-direction: column;
        padding: 30px;
}
.single-movie-poster{
    width:300px;
    border:5px solid #fff;
}

.single-movie-details p{
    color:#fff;
    font-size: 23px;
}
.overview{
    color:#fff;
    font-size: 23px;
}