.similar-movie-section {
  color: var(--text-color);
}

.similar-movie-note {
  width: 15%;
  margin: 1rem auto;
  padding: 8px;
  text-align: center;
  background-color: #85001a;
  border: #85001a 3px solid;
  border-radius: 35px;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  transition: all 0.2s;
}

.similar-movie-list {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.similar-movie-list li {
  list-style-type: none;
}

@media screen and (max-width: 768px) {
  .similar-movie-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .similar-movie-note {
    width: 24%;
    padding: 4px;
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 425px) {
  .similar-movie-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .similar-movie-note {
    width: 32%;
    padding: 2px;
    font-size: 0.7rem;
  }
}
