header {
	position: relative;
	padding: 1rem;
	width: 100%;
	top: 0;
	color: var(--font-color);
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

nav {
	width: 100%;
}

.heading {
	font-size: 24px;
	width: 100%;
}

.heading > span {
	font-weight: 900;
	font-size: 24px;
	display: block;
	font-family: "Rubik Scribble";
}

@media all and (min-width: 668px) {
	.heading {
		font-size: 1.2rem;
	}
	.heading > span {
		font-size: 2rem;
	}
}

@media all and (min-width: 1028px) {
	.heading > span {
		font-size: 4rem;
	}
}
