.back-button {
  position: absolute;
  top: 0;
  right: 0;
  color: rgba(255, 255, 255, 0.8);
  font-family: "Poppins";
  font-weight: 700;
  font-size: 24px;
  margin: 1rem;
  text-decoration: none;
  background:none;
  border: none;
}

.back-button:hover {
  color: rgba(255, 255, 255, 1);
  animation: bounce 0.2s 1 ease-in alternate;
}

@keyframes bounce {
  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(-5px, 0);
  }
}

