.nav-bar {
  position: sticky;
  background: linear-gradient(0.25turn, #000, #663399, #f69d3c);
  border-bottom: 3px solid #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

.navbar svg {
  width: 32px;
  color: white;
}

header .nav-button {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  visibility: hidden;
  opacity: 0;
  color: white;
  font-size: 2rem;
  display: none;
}

.controls {
  display: flex;
  flex-direction: column;
}

.nav-link {
  color: rgba(255, 255, 255, 0.8);
  font-family: "Poppins";
  font-weight: 700;
  font-size: clamp(0.5rem, 2.5vw, 3rem);
  margin: 0.5rem;
  text-decoration: none;
}

.active {
  color: rgba(255, 255, 255, 0.1);
}

.nav-link:hover {
  color: rgba(255, 255, 255, 1);
}

.active:hover {
  color: rgba(255, 255, 255, 0.1);
}

@media only screen and (max-width: 768px) {
  header .nav-button {
    visibility: visible;
    opacity: 1;
    display: block;
  }

  header .controls {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background: linear-gradient(0.25turn, rgba(0, 0, 0, 0.8), rgba(102, 51, 15, 0.9), rgba(246, 157, 60, 0.4));
    transition: 0.5s;
    transform: translateY(-100vh);
  }

  header .nav-link {
    font-size: clamp(1.5rem, 5vw, 5rem);
  }

  header .nav-close-button {
    position: absolute;
    top: 0;
    right: 0;
  }

  header .responsive-navbar {
    transition: 0.5s;
    transform: none;
  }
}

/* Tablet */
@media (min-width: 370px) {
  .controls {
    flex-direction: row;
  }
}

/* Desktop */
@media (min-width: 570px) {
  .movie-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Desktop */
@media (min-width: 820px) {
  .movie-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
