/* MovieInfoPage.css */

h1 {
  display: flex;
}

p {
  margin-top: 15px;
  max-width: 400px;
}

article {
  color: white;
}

.background {
  background-size: cover;
  /* Anpassa storleken på bakgrundsbilden */
  background-position: center;
  /* Centrerar bilden */
  background-repeat: no-repeat;
  /* Hindrar upprepning av bakgrundsbilden */
  width: 100%;
  height: 100vh;
  /* Justera höjden efter behov */
}

.background-style {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* Sprider ut innehållet vertikalt */
  height: 100vh;
  /* Gör så att det tar hela viewportens höjd */
  padding: 50px;
  box-sizing: border-box;
}

.back-link {
  color: white;
  text-decoration: none;
  font-size: 30px;
}

.back-icon {
  margin-right: 8px;
}

.movie-container {
  display: flex;
  align-items: flex-end;
}

.movie-container img {
  border: 5px solid white;
  width: 30%;
}

.movie-info {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 15px;
}

.star-icon {
  font-size: 70%;
}