.movie-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
    overflow-x: auto;
    max-width: 100%;
    scroll-snap-type: x mandatory;
}

.card-container {
    min-width: 200px;
    scroll-snap-align: start;
}

.genre-section .movie-list {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    white-space: nowrap;
}