.movie-list-main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1b1b1b;
    color:#fff;
}

.movie-list-container{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    color: #fff;
}

.movie-list-card-texts{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    max-width: 185px;
}

.movie-list-title{
    font-size: 15px;
    flex-wrap: wrap;
}

