.movie-page {
	margin: 0;
}

/* Styles for the menu container */

.menu {
	text-align: left;
	padding-top: 10px;
}

/* Styling the options buttons */

.options-container {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
	padding: 10px;
}

.option-button {
	background-color: black;
	color: #fff;
	border-radius: 5px;
	padding: 10px 20px;
	margin: 5px 0;
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.option-button.active {
	color: #fff;
	border-color: #474e56;
}

.option-button:hover {
	background-color: #393d41;
}

/* Styling the movie cards */

.movie-list {
	margin-top: 50px;
	display: flex;
	flex-wrap: wrap;
}

.movie-card {
	width: 100%;
	display: flex;
	flex-direction: column;
	transition: transform 0.3s, box-shadow 0.3s;
	position: relative;
}

.movie-card:hover {
	transform: scale(1.05);
	z-index: 2;
}

.image-container {
	position: relative;
	overflow: hidden;
}

.movie-cover {
	width: 100%;
	height: auto;
	transition: filter 0.3, tranform 0.3s;
}

a {
	height: auto;
	text-align: center;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.75);
	opacity: 0;
	transition: opacity 0.3s;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 10px;
}

.movie-card:hover .overlay {
	opacity: 1;
}

.description {
	color: #fff;
	margin-top: auto;
	margin-bottom: 0;
}

/* ---- Media Queries ---- */

@media (max-width: 767px) {
	.options-container {
		flex-direction: column;
		align-items: center;
	}

	.option-button {
		margin: 5px 0;
	}

	/* Hamburger menu icon */
	.hamburger-menu {
		display: block;
		margin: 0 auto;
		margin-bottom: 10px;
	}
}

@media (max-width: 480px) {
	.options-container {
		flex-direction: column;
		align-items: center;
		margin-bottom: 10px;
		/* Reduce margin for smaller screens */
	}

	.option-button {
		margin: 5px 0;
	}
}

/* 
@media (min-width: 370px) {
  .popularPage a {
    width: 50%;
  }
}

@media (min-width: 570px) {
  .popularPage a {
    width: 33.33%;
  }
}

@media (min-width: 820px) {
  .popularPage a {
    width: 25%;
  }
}

.popularPage a img {
  width: 100%;
}

.popularPage .details {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.75);
  display: none;
  padding: 20px;
}

.popularPage .details h1 {
  margin-top: auto;
  margin-bottom: 0;
}

.popularPage a:hover .details {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-end;
}
 */