a{
  text-decoration: none;
}
.movie-list {
  display: grid;
  grid-template-columns: 1fr;
  gap:15px;
  }

.movie-item {
  text-align: center; 
}

/* Create a container for the image with overflow hidden */
.movie-image {
  position: relative; /* Set the position to "relative" to allow for positioning of inner elements */
  overflow: hidden; /* Hide overflow content within the .movie-image container */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
}


.movie-image img {
  max-width: 100%; 
  height: auto; 
  display: block; 
}

/* Image overlay with text */
.image-overlay {
  position: absolute; /* Set the position to "absolute" for the overlay to be positioned relative to .movie-image */
  top: 0; /* Position the overlay at the top of the container */
  left: 0; /* Position the overlay at the left of the container */
  width: 100%; 
  height: 100%; 
  display: flex; 
  flex-direction: column; 
  justify-content: end;
  align-items: start; 
  background: rgba(0, 0, 0, 0.7); 
  color: #fff; 
  opacity: 0; 
  transition: opacity 0.3s; 
  padding-left: 10px;

}


.image-overlay p {
  padding-left: 10px; 
  padding-bottom: 0;   
} 

.image-overlay h2 {
  text-align: start;
  padding-left: 10px; 
  padding-top: 0; 
}

.movie-image:hover .image-overlay {
  opacity: 1; /* Change overlay opacity to 1 when hovering */
}

@media (min-width: 417px) {
  .movie-list {
    grid-template-columns: repeat(2, 1fr);
    }
}
  
  @media (min-width: 768px) {
    .movie-list {
      grid-template-columns: repeat(3, 1fr);
      }
  }
  
  @media (min-width: 992px) {
    .movie-list {
      grid-template-columns: repeat(4, 1fr);
      }
  }
  