.movie-details-page {
  /* position: relative; */
  max-width: 300px;
}

.back-button {
  /* margin: 20px; */
  position: absolute;
  /* display: block; */
}

.backdrop {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  object-fit: cover;
}

.movie-details-info {
  display: flex;
  flex-direction: column;
  position: absolute;
  /* top: 50%; */
  top: 50%;
  /* margin-top: 400px; */
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 20px;
  /* text-align: center; */
  width: 90%;
}

.movie-details-info img {
  width: 50%;
  margin: 0px 0 10px 0;
}

.movie-genre-list ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  margin: 5px 5px 20px 0;
  /* justify-content: center; */
}

.movie-genre-list li {
  list-style-type: none;
  font-size: small;
}

.read-more-button {
  margin-top: 15px;
  padding: 6px 11px;
  border: none;
}

.read-more-button:hover {
  background-color: #e1e1e1;
}

.release-date {
  font-size: small;
  margin: 20px 0 0px 0;
}

/* Media Queries for tablet */
@media screen and (min-width: 667px) {
  .rating {
    margin: 5px 0px 10px 0;
  }
  .movie-details-info {
    padding: 20px 80px 20px 20px;
  }
  .read-more-button {
    margin-top: 20px;
    /* padding: 6px 11px; */
    border: none;
  }
  .movie-genre-list ul {
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0; */
    margin: 10px 5px 20px 0;
    /* justify-content: center; */
  }
}

/* Media Queries for desktop */
@media screen and (min-width: 1024px) {
}

/* Media Queries for deskto - large screens */
@media screen and (min-width: 1800px) {
}
