.top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

.dropdown {
  border-radius: 40px;
  padding: 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  height: fit-content;
}

.category-name {
  font-size: 24px;
  font-family: "Chakra Petch", sans-serif;
}

.title {
  font-size: 32px;
}

.release-date {
  font-size: 16px;
  margin: 16px 0;
}

.popular-list {
  display: grid;
  grid-template-columns: 1fr;
}

.movie-card img {
  width: 100%;
}

.movie-card {
  position: relative;
}

.hover-text {
  display: none;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  transition: opacity 0.3s ease;
}

.movie-card:hover .hover-text {
  display: flex;
}

.button-container {
  display: flex;
  justify-content: center;
}

.more-button {
  width: 120px;
  border-radius: 40px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border: 0;
  margin: 25px 0;
}

/*Media queries*/
@media (min-width: 370px) {
  .popular-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 570px) {
  .popular-list {
    grid-template-columns: repeat(3, 1fr);
  }
  .category-name {
    font-size: 36px;
  }
}

@media (min-width: 820px) {
  .popular-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
