.not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin-top: 100px;
  gap: 20px;
}

.not-found-container p {
  font-size: 24px;
}

.not-found-to-home {
  text-decoration: none;
  color: white;
  background-color: var(--red);
  padding: 10px 10px;
  border-radius: 5px;
  cursor: pointer;

}