.movie-list-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 cards per row */
}

.movie-poster {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease-in-out;
  z-index: 0; 
}

.movie-card {
  position: relative; 
  overflow: hidden; /* Hide overflow content for the title */
  cursor: pointer; 
}

.movie-card::before {
  content: ""; /* Required for the pseudo-element */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  z-index: 1; 
}

.movie-card:hover::before {
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black overlay */
}

.movie-title {
  position: absolute;
  bottom: 1.8rem; 
  left: 0;
  right: 0;
  color: white;
  font-size: 1.6rem;
  text-align: left;
  margin: 0;
  opacity: 0;
  padding: 1.5rem;
  transition: opacity 0.3s ease;
  z-index: 2;
}

.movie-release-date {
  position: absolute;
  bottom: 1.5rem; /* Adjusted to be below the title */
  left: 0;
  right: 0;
  color: white;
  font-size: 1rem;
  text-align: left;
  margin: 0;
  opacity: 0;
  padding: 0 1.5rem;
  transition: opacity 0.3s ease;
  z-index: 2;
}

.movie-card:hover .movie-title,
.movie-card:hover .movie-release-date {
  opacity: 1;
}

/* Media queries */
/* Small phone */
@media (min-width: 320px) and (max-width: 369px) {
.movie-list-container {
  grid-template-columns: 1fr;
  }
}

/* Medium phone */
@media (min-width: 370px) and (max-width: 569px) {
  .movie-list-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Large phone */
@media (min-width: 570px) and (max-width: 819px) {
  .movie-list-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Tablet and desktop */
@media (min-width: 820px) and (max-width: 1600px) {
  .movie-list-container {
    grid-template-columns: repeat(4, 1fr); 
  }
}