.movie-list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.movie-item {
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.movie-item img {
    width: 100%;
    height: auto;
    display: block;
}

.movie-item:hover img {
    filter: brightness(50%);
}

.movie-details {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s;
    color: white;
}

.movie-item:hover .movie-details {
    opacity: 1;
}

@media (min-width:667px) {
    .movie-list{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width:1024px) {
    .movie-list{
        grid-template-columns: repeat(4, 1fr);
    }
}
