.movie-list-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 cards per row */
}

.movie-poster {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease-in-out;
  z-index: 0; 
}

.movie-card {
  position: relative; 
  overflow: hidden; /* Hide overflow content for the title */
  cursor: pointer; 
}

.movie-card::before {
  content: ""; /* Required for the pseudo-element */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent; /* Start with transparent */
  z-index: 1; 
}

.movie-card:hover::before {
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black overlay */
}

.movie-title {
  position: absolute; /* Add this */
  bottom: 0; /* Add this */
  left: 0; /* Add this */
  right: 0; /* Add this */
  color: white; /* Add this */
  font-size: 1.6rem; /* Add this */
  text-align: left; /* Add this */
  margin: 0; /* Add this */
  opacity: 0;
  padding: 1.5rem; 
  /* 1.25px = 20px */
  transition: opacity 0.3s ease;
  z-index: 2; /* Make sure the title is above the overlay */
}

.movie-card:hover .movie-title {
  opacity: 1; /* Show the title on hover */
}
