.titel {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.movie-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}

.movie-card img {
  max-width: 100%;
  height: auto;
}

body {
  background-color: black;
  color: white;
}

a {
  text-decoration: none;
  list-style: none;
}

.movie-card {
  position: relative;
  display: inline-block;
}

.movie-card:hover .movie-details {
  display: block;
}

.movie-details {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  text-align: center;
}

/* Media Query - tablet */
@media (max-width: 768px) {
  .movie-list {
    grid-template-columns: repeat(2, 1fr);
  }
  .movie-details h2 {
    font-size: 18px;
  }
  .movie-card {
    text-align: center;
  }
}

/* Media Query for smaller screens - phones */
@media (max-width: 450px) {
  .movie-list {
    grid-template-columns: 1fr;
  }

  .movie-card {
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
  }
}
