body {
  background-color: black;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: white;
  margin: 0;
}

@font-face {
  font-family: "Anton";  
  src: local("Anton"),
    url("./assets/fonts/Anton-regular.ttf") format("truetype");
}

@font-face {
  font-family: "Quicksand";  
  src: local("Quicksand"),
    url("./assets/fonts/Quicksand-Light.ttf") format("truetype");
}