:root {
  margin: 0;
  font-family: Montserrat, system-ui, Avenir, Helvetica, Arial, sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}


body {
  margin: 0;
  box-sizing: border-box;
  background-color: black;
}
