/* ------- Style resets and custom properties ------- */
* {
  margin: 0;
  box-sizing: border-box;
  --primary: white;
  --secondary: black;
  --text-shadow: 1px 1px #4d4d4d;
}

body {
  background-color: bisque;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  line-height: 1.5;
}

p {
  font-size: 16px;
}

a {
  text-decoration: none;
  color: var(--primary)
}


h2 {
  color: var(--primary);
  font-size: 32px;
  text-shadow: var(--text-shadow);
}


h3 {
  color: var(--primary);
  font-size: 24px;
  text-shadow: var(--text-shadow);
}

.startpage-ul {
  list-style-type: none;
}