@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .hamburger svg {
    transform: translate(0);
  }
  .hamburger-button svg path {
    @apply transition-transform duration-300 ease-out;
    transform-origin: center;
    transform: none;
  }
  .hamburger-button.is-open svg path:first-child {
    transform: rotate(45deg) translateY(4px);
  }
  .hamburger-button.is-open svg path:last-child {
    transform: rotate(-45deg) translateY(-4px);
  }
}
