:root {
  --top-menu-color: #cc0028;
  --text-color: #ffffff;
  --top-menu-font-size: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  background-color: black;
}

.loading-text,
.detail-error-message {
  color: var(--text-color);
  font-size: 1.5rem;
  text-align: center;
}
