:root {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*------- MainPage css -------*/
* {
  margin: 2px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Roboto" , "Sans-sarif";
  /* height: 100vh; */
  color: rgb(245, 245, 245);
  background-color: black;
}

.h1-main {
  font-size: 40px;
  color: rgb(215, 221, 215);
  text-align: center;
  margin: 20px;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

li {
    margin: 5px;
    position: relative;
    overflow: hidden; 
    flex: 0 0 calc(25% - 20px);
}

/*movie poster*/
img {
    width: 100%;
    border-radius: 15px;
    height: auto;
    cursor: pointer; 
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

/*dark filter on hovering movie poster*/
li:hover img {
  transform: scale(1.05);
  filter: brightness(0.2);
}

/*Releasedate*/
.movie-info {
  position: absolute;
  bottom: 2px;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
  display: none;
  color: rgb(215, 221, 215);
}

/*shows the info about the movie om main page when hovered*/
li:hover .movie-info {
  display: block;
}

/*h3 on the movie poster*/
.movie-info h3 {
  font-size: 30px;
  color: rgb(215, 221, 215);
  display: flex;
  flex-direction: column;
}

/* Details page styling */

.back-btn {
position: absolute;
display: inline-flex;
align-items: center;
    color: white;
    font-weight: 700;
    text-decoration: none;
    margin: 10px 0 0 50px; 
    filter: drop-shadow(2px 3px 4px rgb(0 0 0/.5));


}


.movie-details {
  background-size: cover;
  display: flex;
  height: 100vh;    
}

.info-container {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex-direction: row;
  gap: 20px;
  text-shadow: 2px 2px 3px black;
  margin-left: 50px;
  margin-bottom: 50px;
}

.details-container {
  max-width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 5px;
}

.info-container img {
  border: 5px solid white;
  border-radius: 0px;
}

.movie-poster {
  width: 300px;
}

@media screen and (min-width:744px) and (max-width: 1279px) {
  li {
  flex: 0 0 calc(33.33% - 20px); 
  }

  .info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 0px;
    max-width: 90%;
  }

  .details-container {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 22px;
  }

  .movie-poster {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 743px) {
  li {
  flex: 0 0 calc(100% - 20px); 
  }

  .info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin: 0px;
    max-width: 90%;
  }

  .details-container {
    max-width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 22px;
  }

  .movie-poster {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}


/*------- DetailsPage css -------*/
