@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Lora:ital@1&family=Roboto:wght@300;400&display=swap");

:root {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #1a1825;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  font-size: 16px;
}
h1,
h2,
h3,
h4,
p,
a {
  font-family: Inter;
  color: #f4f4f4;
}

h1 {
  font-size: clamp(24px, 5vw, 40px);
}

.header {
  padding: 50px 100px 30px 100px;
  display: flex;
  justify-content: space-between;
}

/* GRID */
.movieListContainer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 40px;
  padding: 40px 100px 0 100px;
  box-sizing: border-box;
}

.error-page {
  margin-top: 100px;
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  .movieListContainer {
    gap: 20px;
    padding: 30px 40px 0 40px;
  }
  .header {
    padding: 40px 40px 20px 40px;
  }
}

@media only screen and (max-width: 700px) {
  .movieListContainer {
    gap: 20px;
    padding: 20px 20px 0px 20px;
  }
  .header {
    padding: 30px 200px 20px 20px;
  }
}
