h2 {
	color: white;
	font-size: 26px;
}

.movie-title > p {
	color: white;
}

.movie-poster-container,
.movie-image {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 667px;
	height: auto;
	position: relative;
}

.movie-poster-container:hover .movie-image {
	filter: brightness(30%);
	transition: all 0.2s ease-in-out;
}

.movie-title {
	position: absolute;
	top: 0;
	left: 10px;
	right: 0;
	bottom: 20px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
	gap: 0.5rem;
	display: none;
	transform: scaleX(1);
}

.movie-poster-container:hover .movie-title {
	display: flex;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

@media all and (min-width: 668px) {
	.movie-poster-container {
		max-width: 1027px;
	}
}

@media all and (min-width: 1028px) {
	.movie-poster-container {
		max-width: 100%;
	}
}
