.button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #999;
  position: relative;
  transition: all 0.2s ease;
}

.button:hover {
  background-color: pink;
}

.button_inner {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  display: flex;
  gap: 2px;
}

.dot {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #fff;
}
