.hero_wrapper {
  margin-bottom: 20px;
  width: 100vw;
}

.main {
  max-width: 100vw;
}

.main_inner {
  display: grid;
  gap: 20px;
  padding-top: 60px;
  padding-bottom: 60px;
}

/* Main */
@media (min-width: 370px) {
  .main_inner {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 570px) {
  .main_inner {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 820px) {
  .main_inner {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* others */

@media (min-width: 640px) {
  .hero_wrapper {
    margin-bottom: 60px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: 768px) {
  .hero_wrapper {
    margin-bottom: 60px;
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media (min-width: 1024px) {
  .hero_wrapper {
    margin-bottom: 60px;
    padding-left: 100px;
    padding-right: 100px;
  }
}
